#gamer {
  background-image: url(../images/shubham-dhage-iWI7N9x5-NY-unsplash.jpg);
}

/* https://unsplash.com/photos/2QUvkQTBh5s */
#weather {
  background-image: url(../images/johannes-plenio-2QUvkQTBh5s-unsplash.jpg);
}

/* https://unsplash.com/photos/h1Vmg84tJeg */
#password {
  background-image: url(../images/photo-1637087383682-40f325297582.jpg);
}